body{
    background-image: url("imagenes/fondo.avif");
    background-repeat: no-repeat;
    background-size: 100vw;
}
#pokemon{
    width: 24vw;
    height: 24vw;
    margin-left: 6vw;
    margin-top: 12vw;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(119, 240, 86, 0.8);
}
#pokemon:hover{
    width: 28vw;
    height: 28vw;
}
#star{
    width: 24vw;
    height: 24vw;
    margin-left: 6vw;
    margin-top: 5vw;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(119, 240, 86, 0.8);
}
#star:hover{
    width: 28vw;
    height: 28vw;
}
#heroes{
    width: 24vw;
    height: 24vw;
    margin-left: 6vw;
    margin-top: 5vw;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(119, 240, 86, 0.8);
}
#heroes:hover{
    width: 28vw;
    height: 28vw;
}